/* Add a background color to the header element */
header{
    background-color: yellowgreen;
}

/* Add a fun background color to the main element */
main{
    background-color: burlywood;
    color: rgb(199, 24, 59);
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    color: coral; 
    font-style: italic;
}
/* Put a border around your image */

img{
    border: 5px solid #3bb145;
}

/* Change the font-family of your list */
ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Add a background color to the footer element */
footer{
    background-color: #111;
}